[project]
name = "pylutron-integration"
version = "0.0.0"
description = "Lutron Integration Protocol client"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=8.4.2",
]
